.card {
    width: 90%;
    background-color: #52B69A;
    border: white solid 0.5px
}
.checkout-btn {
    height: 10%;
    margin-bottom: 5rem;
}
.login {
    margin-left: 10rem;
}

.create-account {
    margin-left: 10rem;
 }

.add-to-cart-btn {
    height: 50%;
}

.btn {
    background-color: #76C893;
}

.navbar {
    background-color: #1f212a;
    border-bottom: 1px solid rgb(66, 66, 66);
}

body {
    background-color: #2d303e;
    color: white;
}