{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}
    <div class="cart container">
        {% if context.items_in_cart %}
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h2>Cart:</h2>
                    <ul class="list-group">
                        {% for item in context.items_in_cart %}
                            <div class="ms-1">
                                <div class="card list-group-item mt-1 mb-1">
                                    <h6 class="card-title">{{ item }}</h6>
                                    <p class="card-text text-secondary">Author</p>
                                    <p class="card-text">Description of book</p>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    <button class="col-lg-3 col-sm-3 btn btn-light checkout-btn ms-1 mt-4">Checkout</button>
                </div>
                <div class="col-md-4 mx-auto">
                    <h2>Recommended books</h2>
                    <ul class="list-group">
                        {% for item in context.items_in_cart %}
                            <div class="ms-1">
                                <div class="card list-group-item mt-1 mb-1">
                                    <h6 class="card-title">{{ item }}</h6>
                                    <p class="card-text text-secondary">Author</p>
                                    <p class="card-text">Description of book</p>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-2 mx-auto">
                        <p>No items in your cart yet!</p>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <p>Recommended books</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}