{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <main class="container mt-3">
        <form action="#" class="search-form row justify-content-center" method="GET">
            <input type="text" class="search-field col-md-6" name="search" placeholder="Search for books...">
            <button type="submit" class="btn btn-light btn-sm col-md-2 col-sm-2 ms-1">Search</button>
        </form>
        <div class="search-results mt-3">
            {% if context.search_results %}
                <h5 class="text-center">Search results for {{ context.search }}:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-group">
                        {% for result in context.search_results %}
                            <div class="d-flex justify-content-between">
                                <div class="card rounded list-group-item mt-1 mb-2">
                                    <h6 class="card-title">{{ result }}</h6>
                                    <p class="card-text text-secondary">Author</p>
                                    <p class="card-text">Description of book</p>
                                </div>
                                <button class="btn btn-light btn-sm add-to-cart-btn ms-1 mt-4">Add to Cart</button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p>No search results for {{ context.search }}</p>
            {% endif %}
        </div>
    </main>
{% endblock %}